/*@base: #000000;

.box-shadow(@style, @c) when (iscolor(@c)) {
    -webkit-box-shadow: @style @c;
    box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
    color: saturate(@base, 5%);
    border-color: lighten(@base, 30%);
    div { .box-shadow(0 0 5px, 30%) }
}
h1{
    color: blue;
}
*/
html,
body.game {
  height: 100%;
  background-color: #131923;
}
/***************** INDEX *****************/
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.ui.header#game-title {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.ui.masthead#minigames {
  padding: 7em 0em;
}
/***************** GAME *****************/
#block-panel,
#edit-panel,
#overlay {
  /*border: 2px solid;*/
}
#game-body {
  padding: 15px;
  /*.ui.grid .column:not(.row) {
    padding: 0.5rem;
  }*/
}
svg-container,
#block-div #block-container,
#edit-div #edit-container,
#display-div #display-container {
  border: 2px solid;
  border-color: #F4F4F4;
  border-radius: 10px;
}
.ui.grid {
  height: 100%;
}
#block-div {
  /*height: 10%;*/
  /*padding-bottom: 0;*/
}
#block-div #block-container {
  display: inline-flex;
  width: 100%;
  /*.ui.attached.button {
      font-size: 50px;
      width: 10px;
      padding-top: 0;
      padding-bottom: 0;

      &.left{
        padding-left: 0;
      }

      &.right{
        padding-right: 0;
      }
    }*/
}
#block-div #block-container .ui.attached.button {
  padding: 0;
}
#block-div #block-container .ui.attached.button i {
  margin: 0;
}
#block-div #block-container #scrollable-div {
  overflow: hidden;
  /*&::-webkit-scrollbar { 
          display: none; 
      }*/
}
#edit-div {
  height: 100%;
  /*  rect.top { stroke-dasharray: 0,50,150 }
  rect.left { stroke-dasharray: 150,50 }
  rect.bottom { stroke-dasharray: 100,50 }
  rect.right { stroke-dasharray: 50,50,100 }*/
}
#edit-div #edit-container {
  height: 100%;
}
#edit-div #edit-container #edit-bar {
  background-color: #F4F4F4;
}
#edit-div #edit-container .secondary.segment {
  height: 92%;
  background-color: transparent;
  overflow-x: auto;
}
#display-div {
  height: 85%;
}
#display-div #display-container {
  height: 100%;
  background-color: #F4F4F4;
}
#overlay {
  position: absolute;
  z-index: 10;
  /*background-color:green;*/
  visibility: hidden;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
